
.navContainer{
    width: 100%;
    height: 8em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logoCard{
    h1{
        color: var(--colors-secondary-100);
    }
}
.navItems{
    display: flex;
    flex-direction: row;
    list-style: none;
    li{
        margin: 0 1em 0  0;
    }
}
.userContainer{
    display: flex;
    flex-direction: row;
    list-style: none;
    li{
        margin: 0 1em 0 0;
    }
}